/*Alt Color - theme
880e4f*/

.view, body, html {
  height: 100%
}

.navbar {
  background-color: rgba(0, 0, 0, .3);
}

.page-footer, .top-nav-collapse {
  background-color: #1C2331;
  border-bottom: 3px solid #A51400;
}

.btn-unique {
  background-color: #A51400!important;
  color: #fff;
}

@media only screen and (max-width:768px) {
  .navbar {
    background-color: #1C2331
  }
}

/*---Main Logo--*/
.logo {
  width: 35px;
  height: 35px;
  fill: rgba(255, 255, 255, 0.89);
}

.mypic {
  border-radius: 50%;
}

.full-page-intro {
  /* Full height */
  height: 100%;
  background-image: url("../images/20181006_163400.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay img {
  width: 350px;
  height: 260px;
}

html, body, header, .view {
  height: 100%;
}

/*------------CONTACT SECTION----------------*/


.contact-section .contact {
  -webkit-border-radius: 0 .25rem .25rem 0;
  border-radius: 0 .25rem .25rem 0;
  background-color: #1C2331;
}

.contact-section .form .btn-floating {
  float: right;
  position: relative;
  bottom: 3rem;
  margin-right: 0;
}

.btn-floating {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.btn-floating i {
  font-size: 1.25rem !important;
  line-height: 50px;
}

.card {
  box-shadow: none !important;
  border: 0;
  font-weight: 400;
}

.md-form input[type=text]:focus:not([readonly])+label {
  color: #A51400;
}

.md-form input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #A51400;
  box-shadow: 0 1px 0 0 #A51400;
}

.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #A51400;
}

.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #A51400;
  box-shadow: 0 1px 0 0 #A51400;
}

.contact-link {
  color: white !important;
}

a {
  color: white;
}

a:hover {
  color: rgb(182, 181, 181);
}

/*
@media (max-width: 740px) {
  html, body, header, .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html, body, header, .view {
    height: 650px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331 !important;
  }
}*/

 /*
@media (max-width:740px) {
 .full-page-intro {
    height: 1000px
  }
}*/